<header class="bar-title">
 <div class="header-animated">
  {{#prev}}
    <div class="button-prev">
      {{this}}
    </div>
  {{/prev}}
  <h1 class="title">{{{title}}}</h1>
  {{#next}}
    <div class="button-next">
      {{this}}
    </div>
  {{/next}}
</header>